/**
 *
 * @name: webpack devtalk
 * @author: Alessandro Bellini <hello@ilmente.com>
 *
 */

html {
    font-size: $fontSize;
}

body {
    padding: $lineHeight 0;
    background-color: $colorBg;
    font-family: $fontMain;
    font-size: 1rem;
    line-height: $lineHeight;
    color: $colorText;
}

p {
    margin: 0 0 $lineHeight 0;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}
