/**
 *
 * @name: webpack devtalk
 * @author: Alessandro Bellini <hello@ilmente.com>
 *
 */

$colorBg: #fff;
$colorText: #263238;
$colorTextAlt: #dddddd;
$colorMain: #49C49F;


$fontMain: 'Roboto Mono', 'Courier', monospace;
$fontSize: 100%;
$lineHeight: 1.5rem;
